@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
  --lightest-color: white;
  --light-color: #c1fffe;
  --medium-color: #ace2e1;
  --dark-color: #49d0e8;
  --darkest-color: #007dc1;
  --near-black-color: #00314c;
  --grey-color: rgb(170, 170, 170);
}

.landing-page-background-img {
  height: 100vh; /* Adjust this value as needed */
  width: auto;
  display: block;
  object-fit: contain;
  z-index: -2;
  position: fixed;
  margin-left: auto;
  left: 50%;
  transform: translate(-50%,0);
  opacity: 0.25;
}

.background-color {
  background-color: #7bd1ed;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -3;
  height: 100vh;
  overflow-y: auto;
}

.landing-page-main {
  width: 100vw;
  text-align: center;
}

.landing-title {
  padding: 3rem 1rem 0 1rem;
  display: inline-block;
}

.landing-slogan {
  display: inline-block;
  padding: 1rem;
  font-size: 28px;
  color: white;
  font-weight: bold;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 1px var(--near-black-color);
}

.button-styling {
  font-weight: bold;
  padding: 0.5rem 1rem;
  background: var(--darkest-color);
  border-radius: 0.25rem;
  border: 1px solid transparent;
  color: white;
  cursor: pointer;
}

.google-button {
  border-radius: 0.5rem;
}

.button-styling:hover {
  background: var(--light-color);
  color: var(--darkest-color);
}

.button-styling-cashout {
  @extend .button-styling;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.button-styling-small {
  @extend .button-styling;
  font-size: 65%;
  padding: 3px;
  margin: 0 0.5rem 0 0;
}

.landing-page-button {
  @extend .button-styling;
  margin: 1rem 1rem 1rem 1rem;
  white-space: nowrap;
  padding: 10px;
}

.landing-page-button p {
  padding: 0;
  margin: 0;
}

.form-field {
  max-width: 30rem;
  margin: 0 auto 1rem auto;
  background-color: var(--lightest-color);
}

.sign-in-up-title {
  font-size: 28px;
  color: white;
  font-weight: bold;
  margin-top: 3rem;
  text-shadow: 2px 2px 2px var(--near-black-color);
}

.child-tile {
  margin: 0.5rem 0.2rem 0 0.2rem;
  text-align: center;
  // width: 8rem;
  height: 5rem;
  font-weight: bold;
  color: var(--lightest-color);
  cursor: pointer;
  display: inline-block;
  vertical-align: bottom;
  border-radius: 10%;
  padding-top: 0.2rem;
}

.child-tile-add {
  @extend .child-tile;
  padding-top: 0.8rem;
}

.child-tile-add p {
  margin-top: 0.28rem;
}

.child-tile p {
  margin-bottom: 0.1rem;
  font-size: 80%;
}

.child-tile:hover {
  background-color: var(--dark-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.child-tile-selected {
  @extend .child-tile;
  background-color: var(--light-color);
  color: var(--darkest-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.center-contents {
  text-align: center;
}

.scroll {
  max-height: 50rem;
  overflow-y: auto;
}

.email-message {
  @extend .child-dash-title;
  margin: 0 auto;
  padding: 0.25rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  transition: box-shadow 0.3s ease-in-out;
  font-weight: bold;
  text-shadow: 2px 2px 2px var(--near-black-color);
}

.add-child-button {
  text-align: center;
  padding: 1rem 2rem 1rem 1rem;
}

.circle-image {
  border-radius: 50%;
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
  max-height: 2.8rem;
  width: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  transition: box-shadow 0.3s ease-in-out;
}

.child-details {
  border-radius: 1rem;
  padding: 0.5rem 0.5rem;
  margin: 0 1rem;
}

.select-child-message {
  color: white;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  text-shadow: 2px 2px 2px var(--near-black-color);
  margin-top: 10rem;
}

.details-left {
  text-align: center;
  font-weight: bold;
  color: var(--darkest-color);
}

.details-left img {
  border-radius: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

.details-left p {
  margin-bottom: 0;
}

.details-left span {
  font-size: 100%;
}

.details-right {
  text-align: center;
  font-weight: bold;
  color: var(--darkest-color);
}

.balance-box {
  border-radius: 0.5rem;
  background-color: var(--lightest-color);
  color: var(--darkest-color);
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 60rem;
}

.balance-box p {
  font-size: 150%;
  margin-bottom: 1rem;
}

.balance-amount {
  font-size: auto;
  font-weight: bold;
  margin: 0;
}

.chore-tile-small {
  border: 1px solid transparent;
  border-radius: 0.5rem;
  padding: 0.2rem;
  background-color: var(--lightest-color);
  color: var(--darkest-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

.chore-title-small {
  font-weight: bold;
}

.top-bar {
  padding: 0.5rem 1rem;
}

.top-bar-right {
  padding-right: 0.25rem;
  color: var(--darkest-color);
  cursor: pointer;
  border-radius: 35%;
}

.top-bar-right:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease-in-out;
}

.child-dash-top-left {
  text-align: center;
  font-weight: bold;
  color: var(--darkest-color);
  padding: 0.5rem;
  margin: 0 1rem;
  align-content: center;
}

.child-dash-top-left img {
  border-radius: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

.child-dash-top-left span {
  font-size: 100%;
}

.child-dash-top-right {
  text-align: center;
  color: var(--darkest-color);
  border-radius: 1rem;
  padding: 2rem 0.5rem;
  margin: 0 1rem;
}

.chore-tile-regular {
  border: 1px solid transparent;
  border-radius: 0.5rem;
  padding: 0.2rem;
  background-color: var(--lightest-color);
  color: var(--darkest-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
  margin-bottom: 0.5rem;
}

.chore-title-regular {
  font-weight: bold;
  font-size: 125%;
}

.child-dash-bottom-left {
  border-radius: 1rem;
  padding-left: 1rem;
}

.top-bar-pic {
  @extend .circle-image;
  height: 3rem;
  width: auto;
  cursor: pointer;
  margin-right: 0.5rem;
}

.dropdown {
  z-index: 2;
  background-color: var(--lightest-color);
  display: block;
  position: absolute;
  padding: 0.2rem;
  right: 0;
  margin-right: 1rem;
  margin-top: 1.1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 0.25rem;
}

.dropdown p {
  cursor: pointer;
  color: var(--darkest-color);
}

.dropdown p:hover {
  color: var(--dark-color);
}

.profile-page {
  padding-top: 6rem;
  height: 90vh;
  overflow-y: auto;
}

.profile-page img {
  border-radius: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
  margin-bottom: 1.5rem;
  width: 80%;
  max-width: 250px;
  height: auto;
  object-fit: cover;
}

.profile-pic-containter {
  text-align: center;
}

.profile-page-details {
  color: var(--darkest-color);
  background-color: var(--lightest-color);
  border-radius: 1rem;
  padding: 2rem 0.5rem;
  margin: 0 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
  max-height: 350px;
}

.test {
  background-color: black;
}

.show-more-button {
  margin-bottom: 4rem;
  color: var(--lightest-color);
  cursor: pointer;
}

.show-more-contents {
  color: var(--lightest-color);
  font-weight: bold;
  justify-content: center;
  margin: 0 0.5rem;
}

.intro {
  height: 100vh;
  overflow-y: auto;
  margin-left: auto;
}

.intro-button-container {
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.more-list {
  margin: 0 auto 1rem auto;
  max-width: 20rem;
  padding-left: 0.75rem;
}

.more-list li {
  text-align: left;
}

.sign-in-form {
  padding: 0 2rem;
}

.sign-in-form label {
  color: var(--lightest-color);
  font-weight: bold;
  font-size: 110%;
  text-shadow: 1px 1px 1px var(--grey-color);
}

.reg-notice {
  color: var(--lightest-color);
  font-weight: bold;
  font-size: 90%;
}

.top-bar-left a {
  margin-right: 1rem;
  font-size: 0.8rem;
}

.invite-container {
  align-content: center;
}

.invite-form {
  padding: 0 2rem;
  width: 50%;
  text-align: center;
  margin: 2rem auto 0 auto;
}

.invite-form label {
  color: var(--lightest-color);
  font-weight: bold;
  font-size: 110%;
  text-shadow: 1px 1px 1px var(--grey-color);
}

.form-error {
  padding: 0.1rem;
  background-color: red;
  color: var(--lightest-color);
  font-size: 100%;
}

.form-error-black-font {
  color: black;
  font-size: 100%;
}

.invite-message {
  color: var(--lightest-color);
  font-weight: bold;
  justify-content: center;
  margin: 1rem 0.5rem 2rem 0.5rem;
}

.horizontal-line {
  margin-top: 0.5rem;
  border-bottom: 3px solid var(--light-color);
}

.transaction-table {
  margin-top: 0.25rem;
  font-size: 14px;
  text-align: left;
  margin-bottom: 1rem;
}

.align-amt-right {
  text-align: right;
}

.transaction-table-container {
  max-height: 27rem;
  overflow-y: auto;
  margin-bottom: 2rem;
}

.detail-option-button {
  @extend .button-styling;
  margin-right: 1rem;
  margin-bottom: 1rem;
  white-space: nowrap;
  padding: 10px;
}

.popout-box {
  position: fixed;
  z-index: 999;
  box-shadow: 0px 0px 1rem rgba(0, 0, 0, 1);
  margin-top: 0.5rem;
  background-color: var(--dark-color);
  border-radius: 1rem;
  padding: 0.25rem;
  color: var(--lightest-color);
  font-weight: bold;
  text-align: center;
  overflow-y: auto;
}

.popout-box label {
  color: var(--lightest-color);
  font-weight: bold;
  text-shadow: 1px 1px 1px var(--grey-color);
}

.popout-box h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.allowance-summary {
  border-radius: 0.5rem;
  background-color: var(--lightest-color);
  color: var(--darkest-color);
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 20rem;
  text-align: left;
}

.allowance-summary p {
  text-align: center;
  font-size: 150%;
}

.allowance-summary td {
  font-weight: normal;
}

.allowance-summary table {
  font-size: 16px;
  margin-top: 0.5rem;
}

.confirm-delete {
  position: fixed;
  z-index: 999;
  box-shadow: 0px 0px 5rem rgba(0, 0, 0, 1);
  border-radius: 1rem;
  border: 3px solid red;
  background-color: var(--lightest-color);
  padding: 1rem;
  color: var(--lightest-color);
  font-weight: bold;
  text-shadow: none;
  width: 95vi;
}

.confirm-delete span {
  background-color: red;
}

.confirm-delete p {
  color: var(--darkest-color);
  margin-bottom: 2rem;
}

.chore-tile-small-delete-confirm {
  @extend .chore-tile-small;
  border: 3px solid red;
  background-color: rgb(252, 191, 129);
  color: var(--lightest-color);
  font-weight: bold;
}

.chore-tile-small-delete-confirm p {
  color: var(--darkest-color);
  margin-bottom: 2rem;
}

.child-pic {
  text-align: center;
  align-content: center;
}

.child-pic img {
  margin-bottom: 1.5rem;
  max-height: 12rem;
  width: auto;
}

.manage-allowance-button-container {
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.chore-title {
  text-align: center;
}

.popout-container {
  text-align: center;
}

.allowance-button {
  @extend .detail-option-button;
  margin-top: 3rem;
}

.button-styling-child-pic {
  @extend .button-styling;
  white-space: nowrap;
  padding: 0.2rem 0.1rem;
}

.child-dash-title {
  text-align: center;
  font-weight: bold;
  color: var(--darkest-color);
  font-size: 150%;
  text-shadow: none;
}

.chart-container {
  border-radius: 0.5rem;
  background-color: var(--lightest-color);
  color: var(--darkest-color);
  padding: 0.25rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 60rem;
  text-align: center;
}

.chart-container g {
  font-weight: bold;
}

.child-dash-title-in-parent {
  @extend .child-dash-title;
}

#manual-transaction-button {
  @extend .button-styling;
  font-size: 100%;
  margin-top: 5rem;
}

.child-dash-scroll {
  height: 80vh;
  overflow-y: auto;
}

.button-styling-small-accept {
  @extend .button-styling-small;
  background-color: darkgreen;
  animation: flash 1s infinite;
}

@keyframes flash {
  0% {
    background-color: darkgreen;
  }
  50% {
    background-color: lightgreen;
    color: var(--darkest-color);
  }
  100% {
    background-color: green;
  }
}

.button-styling-small-pay {
  @extend .button-styling-small;
  background-color: darkgreen;
}

.button-styling-small-delete {
  @extend .button-styling-small;
  background-color: red;
}

.awaiting-approval {
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid var(--darkest-color);
  color: var(--darkest-color);
  background-color: var(--grey-color);
}

.chore-tile-buttons {
  padding-top: 1rem;
}

.parent-dash-title {
  color: var(--lightest-color);
  text-align: center;
  font-size: 200%;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  margin-top: 1rem;
}

.popout-box-quiz {
  @extend .popout-box;
  margin-top: 0.5rem;
  padding: 2rem 1rem;
  width: 90vw;
}

.button-styling-loading {
  @extend .button-styling;
  animation: flash 1s infinite;
}

.quiz-answers {
  @extend .button-styling-small;
  background-color: var(--medium-color);
  border: 1px solid var(--darkest-color);
  padding: 0.25rem 1rem;
  color: var(--darkest-color);
  font-size: 100%;
}

.quiz-answer-container {
  margin: 0.5rem 0 0.5rem 0;
  border: 1px solid var(--darkest-color);
  border-radius: 1rem;
  padding: 0.25rem;
  background-color: var(--lightest-color);
  color: black;
  text-shadow: none;
  margin-bottom: 1rem;
}

.full-screen {
  height: 80vh;
  overflow-y: auto;
}

.full-screen-intro {
  height: 85vh;
  overflow-y: auto;
}

.full-screen-landing {
  width: 100vw;
}


.waiting-quiz {
  background-color: var(--grey-color);
  margin: 3rem auto;
  cursor: none;
  padding: 0.5rem;
  border-radius: 0.25rem;
  display: inline-block;
}

.button-styling-quiz {
  @extend .button-styling;
  border-radius: 50%;
  animation: quizFlash 1s infinite;
}

@keyframes quizFlash {
  0% {
    background-color: darkgreen;
  }
  50% {
    background-color: lightgreen;
    color: var(--darkest-color);
  }
  100% {
    background-color: green;
  }
}

.dashboard-container {
  margin-top: 4rem;
}

.empty {
  background-color: lightgray;
  color: var(--darkest-color);
  border-radius: 0.5rem;
  width: 30rem;
  max-width: 80%;
  margin: 1rem auto;
  font-style: italic;
  word-wrap: normal;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

.icon-photo {
  margin-bottom: 1rem;
}

.pending-transaction-table {
  @extend .transaction-table;
  border: 2px solid black;
}
